node_modules/
lib/
dist/
.localConfigs
.localConfigs.*
.env
.env.*
*.env.local
*.env.production
*.env.development
.localSettings.json
local.settings.json
appsettings.Development.json
*.pem
*.key
*.pfx
*.cert
.azure/
